<h1>Add A Definition</h1>

<form action="/words/<%= user_word.id %>" method="post">
  <input type="text" name="definition" id="definition">
  <button type="submit"> Add a new definition</button>
</form>
