<h1>Update <%= @word.word() %></h1>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="updated_word">Rename word</label>
  <input id="updated_word" name="updated_word" type="text">

  <button type="submit">Update</button>
</form>

<p><a href="/words">Return to words list</a></p>
