<h1>Add a new word</h1>

<h3>Enter any words you wish to learn and its definitions</h3>
<form action="/words" method="post">
<div class="form-group">
  <label for="wordInput">Word</label>
  <input id="wordInput" name="wordInput" class="form-control" type="text"> <br>
  <label for="definitionInput">Definition</label>
  <input id="definitionInput" name="definitionInput" class="form-control" type="text">
</div>
<button type="submit" class="btn btn-primary">Add word!</button>
</form><br>

<h3>Click on a word to see it's definition!</h3>
