<h1>Add a new word</h1>

<h3>Enter any words you wish to learn and its definitions</h3>
<form action="/words" method="post">
  <div class="form-group">
    <label for="word_input">Word</label>
    <input id="word_input" name="word_input" class="form-control" type="text"> <br>
    <label for="definition_input">Definition</label>
    <input id="definition_input" name="definition_input" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add word!</button>
</form><br>
