

<% if @words.any? %>
<% (@words.values_at).each do |word| %>
<li><%= word.name %></li>
<% end %>
</ul>
<% else %>
<p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word</a>
